@import url('https://fonts.googleapis.com/css?family=Montserrat');
.navigation ul li {
    list-style: none;
    font-size: 15px;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 0 42px 0 0;
    text-decoration: none;
    color: #1C2431;
    font-weight: 600;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}
/**SCroll BAr**/

header
{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 25px;    
}

#info
{
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 25px;
}

a{
    color: #074E8C;
}

.scrollbar
{
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 100%;
    background: none;
    overflow-y: scroll;
    margin-bottom: 25px;
    overflow-x: hidden;
    padding: 0 30px 0 0;
}

.force-overflow
{
    min-height: 450px;
}

#wrapper
{
    text-align: center;
    width: 500px;
    margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}

/*
 *  STYLE 3
 */

#style-3::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

/*
 *  STYLE 4
 */

#style-4::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 2px solid #555555;
}


/*
 *  STYLE 5
 */

#style-5::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
    background-color: #0ae;
    
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                       color-stop(.5, rgba(255, 255, 255, .2)),
                       color-stop(.5, transparent), to(transparent));
}


/*
 *  STYLE 6
 */

#style-6::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar-thumb
{
    background-color: #F90; 
    background-image: -webkit-linear-gradient(45deg,
                                              rgba(255, 255, 255, .2) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(255, 255, 255, .2) 50%,
                                              rgba(255, 255, 255, .2) 75%,
                                              transparent 75%,
                                              transparent)
}


/*
 *  STYLE 7
 */

#style-7::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
                                       left bottom,
                                       left top,
                                       color-stop(0.44, rgb(122,153,217)),
                                       color-stop(0.72, rgb(73,125,189)),
                                       color-stop(0.86, rgb(28,58,148)));
}

/*
 *  STYLE 8
 */

#style-8::-webkit-scrollbar-track
{
    border: 1px solid black;
    background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
    background-color: #000000;  
}


/*
 *  STYLE 9
 */

#style-9::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-9::-webkit-scrollbar-thumb
{
    background-color: #F90; 
    background-image: -webkit-linear-gradient(90deg,
                                              rgba(255, 255, 255, .2) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(255, 255, 255, .2) 50%,
                                              rgba(255, 255, 255, .2) 75%,
                                              transparent 75%,
                                              transparent)
}


/*
 *  STYLE 10
 */

#style-10::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-10::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-10::-webkit-scrollbar-thumb
{
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg,
                                              rgba(0, 0, 0, .2) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(0, 0, 0, .2) 50%,
                                              rgba(0, 0, 0, .2) 75%,
                                              transparent 75%,
                                              transparent)
}


/*
 *  STYLE 11
 */

#style-11::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-11::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-11::-webkit-scrollbar-thumb
{
    background-color: #3366FF;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg,
                                              rgba(255, 255, 255, 0.5) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(255, 255, 255, 0.5) 50%,
                                              rgba(255, 255, 255, 0.5) 75%,
                                              transparent 75%,
                                              transparent)
}

/*
 *  STYLE 12
 */

#style-12::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #444444;
}

#style-12::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-12::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #D62929;
    background-image: -webkit-linear-gradient(90deg,
                                              transparent,
                                              rgba(0, 0, 0, 0.4) 50%,
                                              transparent,
                                              transparent)
}

/*
 *  STYLE 13
 */

#style-13::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #CCCCCC;
}

#style-13::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-13::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #D62929;
    background-image: -webkit-linear-gradient(90deg,
                                              transparent,
                                              rgba(0, 0, 0, 0.4) 50%,
                                              transparent,
                                              transparent)
}

/*
 *  STYLE 14
 */

#style-14::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #CCCCCC;
}

#style-14::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-14::-webkit-scrollbar-thumb
{
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg,
                                              rgba(0, 0, 0, 1) 0%,
                                              rgba(0, 0, 0, 1) 25%,
                                              transparent 100%,
                                              rgba(0, 0, 0, 1) 75%,
                                              transparent)
}

/*
 *  STYLE 15
 */

#style-15::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-15::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-15::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
                                       40% 0%,
                                       75% 84%,
                                       from(#4D9C41),
                                       to(#19911D),
                                       color-stop(.6,#54DE5D))
}

/*
 *  STYLE 16
 */

#style-16::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-16::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#style-16::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top,
                                              #e4f5fc 0%,
                                              #bfe8f9 50%,
                                              #9fd8ef 51%,
                                              #2ab0ed 100%);
}
/****/
.ocean_shipping {
    color: #0083C1 !important;
}

.air_shipping {
    color: #00B437 !important;
}

// header {
//     border-bottom: 1px solid #E3E3E3;
//     padding: 40px 0 0 0;
// }
.sign-up {
    text-decoration: underline;
    color: #00B437;
}

.sign-up a {
    color: #1C2431;
    font-size: 14px;
    font-weight: 600;
}

.log-in a {
    color: #1C2431;
    font-size: 14px;
    font-weight: 600;
}

.container-inner {
    width: 860px;
    margin: 0 auto;
}

.navbar-nav {
    float: right !important;
}

.content-area {
    padding: 45px 0;
}

.container-inner h2 {
    font-size: 38px;
    font-weight: normal;
    line-height: 55px;
    margin-bottom: 20px;
}

.container-inner h3 {
    font-size: 28px;
    font-weight: normal;
}

.container-inner h5 {
    font-size: 20px;
    font-weight: normal;
}

.middle {
    text-align: center;
}

.text-right {
    right: center;
}

/***** about us*****/
.about{
.about h1 {
    color: #767A83;
    font-weight: bold;
    font-size: 40px;
}
.about-inner h1 {
    font-size: 33px;
    color: #747981;
    font-weight: 600;
}


.about-inner h5 {
    font-size: 15px;
    font-weight: 700;
    color: #767A83;
}
.social-block {

    margin: 0 160px;}
 button {
    background: #464646;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    margin: 8px 0;
    color: #fff;
}

button a {
    color: #fff;
}

.about-inner {
    margin: 50px 0;
}

.social-inner {
    background: #F2F2F2;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 0;
}

.social-inner h5 {
    font-size: 13px;
    color: #767A83;
    font-weight: 600;
}

.social-inner a {
    text-decoration: none;
}

.social-inner path {
    color: #fff;
}

.social-inner svg.svg-inline--fa.fa-facebook-f.fa-w-9 {
    background-color: #CDCDCD;
    height: 25px;
    width: 25px;
    padding: 6px;
    border-radius: 50px;
    top: 7px;
    position:relative;
    left: -2px;
    margin: 0 2px 0px 0px;
}

.social-inner svg.svg-inline--fa.fa-twitter.fa-w-16 {
    background-color: #CDCDCD;
    height: 25px;
    width: 25px;
    padding: 6px;
    border-radius: 50px;
    position: relative;
    top: 7px;
    left: -2px;
    margin: 0 2px 0px 0px;
}

.social-inner svg.svg-inline--fa.fa-google-plus-g.fa-w-20 {
    background-color: #CDCDCD;
    height: 25px;
    width: 25px;
    padding: 6px;
    border-radius: 50px;
    position: relative;
    top: 7px;
    left: -2px;
    margin: 0 2px 0px 0px;
}

.testimonial h1.font-bold.h1.py-5 {
    font-size: 18px;
    color: #767A83;
    font-weight: bold;
}

.testimonial {
    margin-top: 35px;
    margin-bottom: 85px;
}

.section-description {
    margin-bottom: 20px;
    color: #A9A8A8;
}

.avatar {
    margin-left: 45%;
    margin-top: 40px;
}

.avatar img {
    margin-bottom: 15px;
    margin-left: -43%;
}

.card-body strong {
    color: #767A83;
}

.card-body p {
    color: #A9A8A8;
    font-size: 13px;
    margin-top: 50px;
}

.card-body {
    height: 240px !important;
    border: 1px solid #A9A8A8 !important;
    margin-top: -65px !important;
}

.card-body h4.mt-1 {
    margin-top: 28px !important;
}
.twitter {
    position: relative;
    left: 11px;
}


}
/******end*******/

/******thank you*****/

.thank-you h1 {
    color: #767A83;
    font-weight: bold;
    margin: 60px 0 0 0;
    padding-left: 15px;
    font-size: 50px;
}

.thank-you-msg {
    text-align: center;
}

.thank-you {
    margin-bottom: 120px;
}

.thank-you-msg p {
    font-size: 24px;
    padding: 5px 0 20px 0;
}

.email-section p {
    margin-top: 15px;
}

/*****end thank you***/

/***** about ***/

.about {
    margin: 0 40px;
}

.card-body {
    border: none;
    height: auto;
}

.avatar {
    margin-left: 55%;
}

.card-body p {
    margin-left: 40px;
    margin-right: 40px;
}

.social-inner .col-md-3 {
    text-align: left;
    /* margin: 12px 20px; */
   
        width: 15%;
        padding: 0;

}

.avatar img {
    margin-bottom: 15px;
    margin-left: -65%;
}

.Select-menu-outer {
    margin-top: 40px;
}

/*** end****/

.get-rates {
    border: 2px solid #D3D3D3;
    display: inline-block;
    padding: 21px 7px 16px;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0 60px 0;
}

span.Select-clear {
    display: none;
}

svg.svg-inline--fa.fa-map-marker.fa-w-12 {
    color: #0083BB;
    font-size: 22px;
}

span.glyphicon.glyphicon-ok-sign {
    color: #5cb85c;
    font-size: 60px;
    margin: 15px 0 0 0;
}

span.glyphicon.glyphicon-minus-sign {
    float: right;
    position: relative;
    left: -14%;
    top: 15px;
    color: #02C3A0;
}

.airshipping-header .get-rates {
    padding: 21px 15px 14px;
}

.airshipping-header .get-rates button {
    position: relative;
    top: 3px;
    float: right;
    position: relative;
    right: 17.5%;
}

.button-outer {
    display: inline-block;
    float: right;
}

button.btn.btn-danger.remove i {
    color: #0083C1;
    font-size: 10px;
    top: -4px;
    left: 0px;
}

.input-group.control-group.after-add-more {
    width: 100%;
}

.airshipping-header.ocean {
    background-image: url('/images/oceanbg.png');
}

button.btn.btn-danger.remove {
    padding: 1px;
    border-radius: 50%;
    position: relative;
    left: -199%;
    background: none;
    border: 1px solid #0083C1;
    top: 20px;
    height: 16px;
    width: 17px;
}

button.btn-remove {
    height: 18px;
    width: 18px;
    background: none;
    border-radius: 50%;
    margin: 3px 0 0 15px;
    top: 3px;
    float: right;
    position: relative;
    right: 17.5%;
    border: none;
}

i.glyphicon.glyphicon-remove {
    color: #0083C1;
    font-size: 11px;
    position: relative;
    top: -2px;
    left: -3px;
}

span.glyphicon.glyphicon-plus-sign {
    color: #5cb85c;
}

.get-rates button.btn.btn-default {
    float: right;
    position: absolute;
    padding: 7px 30px;
    top: 1px;
    right: 0;
    color: #fff;
    background: #00b437;
}

button.btn.btn-success.add-more {
    padding: 0;
    height: 18px;
    width: 18px;
    background: none;
    border-radius: 50%;
    margin: 6px 0 0 15px;
    top: 3px;
    float: right;
    position: relative;
    right: 14%;
    border: none;
}

.shipment {
    background: #fff;
    padding: 6px 4px;
    color: #BCBEC2;
    border: 1px solid #BCBEC2;
    border-radius: 2px;
    float: left;
    margin: 0 13px 8px 0px;
    height: 0;
}

.content-area .col-md-8.text-left img {
    width: 210px;
}

.get-rates input {
    width: 11% !important;
    margin: 0 12px 0 0;
    color: #BCBEC2;
}

.quantity {
    float: left;
    padding: 6px 8px;
    background: #fff;
    border: 1px solid #BCBEC2;
    color: #BCBEC2;
    border-radius: 2px;
}

.customer-list {
    background-color: #23A19D;
    padding: 70px 0;
}

.customer-list h2 {
    color: #fff;
    font-weight: 600;
    font-size: 44px;
    float: left;
    margin: -8px 12px 0 0px;
}

.customer-list span {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    float: left;
    text-align: left;
    width: 35%;
}

.Select.ddl {
    margin-bottom: 15px;
}

.ddl .Select-placeholder {
    background: #EDEEEE;
    height: 40px;
}


.get-rates img {
    float: left;
    width: 33px;
    margin: 0 25px 0 25px;
}

footer select.selectpicker {
    width: 44%;
    background: none;
    padding: 9px 8px;
    color: #A2A5AA;
    border: 1px solid #D0D0D0;
    font-size: 18px;
    background: #fff;
}

footer {
    padding: 60px 0 65px 0;
    background: #F2F2F2;
}

footer p {
    color: #777;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    line-height: 23px;
}

footer ul li a {
    color: #A2A5AA;
}

footer ul li a:hover {
    color: #000;
    text-decoration: none;
}

.follow-us {
    position: relative;
    left: 6%;
}

.support {
    position: relative;
    left: 3%;
}

footer h4 {
    margin-top: 65px;
    margin-bottom: 16px;
}

.shipment .Select-placeholder {
    color: #333;
}

.shipment {
    width: 17%;
    border: none;
    padding-top: 1px;
    display: inline-block;
    color: #333;
}

.shipment .Select-control {
    border: 1px solid #bcbec2;
    border-radius: 2px;
    height: 34px;
    float: left;
    color: #333;
}

.quantity .Select-placeholder {
    color: #333;
}

.quantity {
    width: 14%;
    border: none;
    padding-top: 1px;
    display: inline-block;
    color: #333;
}

.quantity .Select-control {
    border: 1px solid #bcbec2;
    border-radius: 2px;
    height: 34px;
    float: left;
    color: #333;
}

.how-it-works {
    text-align: center;
    padding: 70px 0;
}

.how-it-works h1 {
    font-size: 28px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 70px;
    display: inline-block;
}

.how-it-works {
    text-align: center;
}

.shipment-listing {
    position: relative;
    left: 8%;
}

.service {
    position: relative;
    left: 3%;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 69%;
    height: 2px;
    background-color: #EDEDED;
    z-index: 0;
    left: 15%;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 33.3%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.how-it-works h5 {
    color: #00B437;
    font-size: 15px;
    margin-top: 90px;
}

.how-it-works h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 20px;
}

.stepwizard-step p {
    margin-top: 10px;
    font-size: 13px;
    width: 80%;
    margin: 0 0 0 30px;
}

.stepwizard-step.dimension img {
    margin: -43px 0 0 -8px;
    background: #fff;
}

.stepwizard-step.prices img {
    margin: -42px 0 -21px 0;
    background: #fff;
}

.stepwizard-step.money img {
    margin: -45px 0 0 -4px;
    background: #fff;
}

.stepwizard-step.dimension {
    position: relative;
    left: -6%;
}

.stepwizard-step.money {
    position: relative;
    right: -6%;
}

.stepwizard-step.dimension a {
    float: left;
    width: 100%;
    background: none;
    border: none;
}

.stepwizard-step.prices a {
    float: left;
    width: 100%;
    background: none;
    border: none;
}

.stepwizard-step.money a {
    float: left;
    width: 100%;
    background: none;
    border: none;
}

.logo-slide {
    padding-bottom: 75px;
    padding-top: 20px;
}

.content-area img {
    width: 330px;
}

.logo-slide img {
    width: 168px;
}

.mobile-navigation {
    display: none;
}

.nav.navbar.navbar-expand-sm.bg-light {
    display: block;
}

.input-group.control-group.after-add-more select {
    color: #333;
}

/******** air shipping***/

.airshipping-header {
    padding-top: 40px;
    background-size: cover;
    background-image: url('/images/inner-bg.png');
}

.airshipping-header .navbar-nav>li>a {
    color: #fff !important;
}

.airshipping-header .sign-up a {
    color: #fff;
}

.airshipping-header .log-in a {
    color: #fff;
}

.airshipping-header .container-inner h2 {
    color: #fff;
}

.airshipping-header h5 {
    color: #fff;
}

.airshipping-header .get-rates {
    background-color: #fff;
}

.airshipping-header .customer-list {
    background-color: inherit;
}

/**** end air shipping***/

/*** shipping page*****/

.contact-form.shipping-detail h5 {
    font-weight: 600;
    font-size: 16px;
}

.contact-form.shipping-detail .form-group.col-md-6 {
    padding: 0 0 0 10px;
}

.contact-form.shipping-detail .col-md-3 {
    padding: 0 0 0 10px;
}

.contact-form.shipping-detail input {
    width: 100% !important;
}

.contact-form.shipping-detail select {
    background: #edeeee;
    border: none;
    border-radius: 0;
    height: 42px;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #fff;
    color: #3a3a3a;
    padding: 0 0 0 5px;
}

.contact-form.shipping-detail {
    margin-bottom: 20px;
}

.contact-form {
    margin-bottom: 100px;
    margin-left: 25px;
}

.address {
    background-color: #0083BB;
    padding: 30px 0;
}

.address h4 {
    color: #fff;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 5px;
}

.address span {
    color: #fff;
    width: 100%;
    display: inline-block;
}

.select-bottom input {
    width: 100%;
}

.select-bottom {
    display: inline-block;
    width: 100%;
}

.contact-form.shipping-detail button {
    background: #0083BB;
    margin-bottom: 80px;
    color: #fff;
}

.contact-form.shipping-detail h1 {
    color: #767A83;
}

.contact-form h1 {
    color: #00B437;
    font-weight: bold;
    margin: 60px 0 38px 0;
}

.contact-form input {
    background: #EDEEEE;
    color: #333 !important;
    border: none;
    border-radius: 0;
    height: 42px;
    margin-bottom: 28px;
    width: 93%;
    border-bottom: 1px solid #D8DADB;
}

// input::placeholder {
//     color:#fff;
//   }
/**** end shipping****/

/*********track*****/

.airshipping-header.track h2 {
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.form-inline .form-group input {
    width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: #C3EAD3;
}

.airshipping-header.track {
    padding-bottom: 40px;
}

.airshipping-header.track h5 {
    font-weight: bold;
    font-size: 16px;
}

.airshipping-header.track p {
    color: #fff;
}

.airshipping-header .content-area {
    padding: 20px 0;
}

.form-inline .form-group {
    width: 100%;
}

.form-inline .form-group input {
    width: 100%;
}

.form-inline .btn.btn-primary {
    width: 100%;
    padding: 9px 20px;
}

.form-inline .col-md-5 {
    padding-left: 0;
}

.form-inline .col-md-2 {
    padding-left: 0;
}

ol.progtrckr {
    padding: 0;
}

ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li {
    width: 49%;
}

ol.progtrckr[data-progtrckr-steps="3"] li {
    width: 33%;
}

ol.progtrckr[data-progtrckr-steps="4"] li {
    width: 24%;
}

ol.progtrckr[data-progtrckr-steps="5"] li {
    width: 25%;
}

ol.progtrckr[data-progtrckr-steps="6"] li {
    width: 16%;
}

ol.progtrckr[data-progtrckr-steps="7"] li {
    width: 14%;
}

ol.progtrckr[data-progtrckr-steps="8"] li {
    width: 12%;
}

ol.progtrckr[data-progtrckr-steps="9"] li {
    width: 11%;
}

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 10px solid #8DA2AE;
    /* border-radius: 5px; */
}

ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}

ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}

ol.progtrckr li.progtrckr-done:before {
    content: "\f3c5";
    color: white;
    background-color: inherit;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
    left: -1%;
    bottom: -50px;
}

li.progtrckr-done.out-for-delivery {
    border-bottom: 10px solid #2B98C6 !important;
}

.progtrckr-todo.delivered {
    border-bottom: 10px solid #2B98C6 !important;
}

li.progtrckr-todo span strong {
    float: right;
}

ol.progtrckr li.progtrckr-todo:before {
    content: "\f3c5";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    bottom: -1.2em;
    left: 86%;
    color: #fff !important;
    top: 47px;
}

.contact {
    padding: 60px 0;
}

ol.progtrckr span {
    position: relative;
    top: 100px;
    float: left;
    text-align: left;
    width: 100%;
    color: #777;
    font-weight: 600;
}

.shipping-right {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 13px 8px;
    height: 335px;
}

.ships {
    float: left;
    margin: 4px 5px 0 0px !important;
}

.place {
    color: #fff !important;
}

.shipping-right strong {
    font-size: 13px;
    margin: 0 8px 0 0px;
}

.shipping-right span {
    font-size: 13px;
    height: 336px;
}

.get-rates input.form-control {
    color: #000;
    border-radius: 0;
    height: 36px;
}

.get-rates option {
    color: #000;
}

.shipping-right h5 {
    font-size: 14px;
    background: #F5F5F6;
    width: 106%;
    position: relative;
    left: -3%;
    padding: 6px 0 5px 16px;
}

.shipping-right p {
    margin-bottom: 0;
    font-size: 11px;
    margin-top: 11px;
}

.shipping-right .col-md-8 {
    padding-left: 0;
}

.shipping-right .col-md-4 {
    padding-right: 0;
    padding-left: 0;
}

.shipping-right .col-md-8 span {
    font-size: 9px;
    position: relative;
    left: 15px;
}

.shipping-right .col-md-4 span {
    font-size: 10px;
}

.contact img {
    width: 104%;
}

.location-first {
    position: relative;
    left: -45%;
    top: 16px;
}

.location-second {
    position: relative;
    left: -44%;
    top: 16px;
}

.location-third {
    position: relative;
    left: -44%;
    top: 16px;
}

.location-four {
    position: relative;
    left: 50%;
    top: 16px;
    color: #5cb85c;
}

.postal-service img {
    width: 100%;
    padding: 0 0px 0px 15px;
}

.postal-service .container-inner {
    background: #E5E6E7;
    padding: 40px 0;
}

.postal-service {
    margin-bottom: 100px;
}

.tracking {
    position: relative;
    left: -15px;
    margin-bottom: 5px;
}

.col-md-4.text-right.delivery-date {
    position: relative;
    left: -20px;
}

.delivery-date span {
    position: relative;
    left: -31% !important;
}

.postal-service span {
    color: #0083BB;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    left: 5%;
}

.delivery-date p {
    margin-bottom: 5px;
}

.airshipping-header.track {
    background-image: url('/images/oceanbg.png');
    background-size: cover;
}

.desktop-track {
    display: block;
}

.shipping-right img {
    width: auto;
    float: left;
    margin: 4px 5px 0 0px;
}

/****end track**/

/*******contact us****/

.contact-form label {
    color: #767A83;
    font-size: 15px;
}

.contact-form input {
    background: #EDEEEE;
    color: #333 !important;
    border: none;
    border-radius: 0;
    height: 42px;
    margin-bottom: 28px;
    width: 93%;
    border-bottom: 1px solid #D8DADB;
}

.contact-form ul {
    padding: 0;
}

.contact-form ul li {
    line-height: 25px;
    color: #777;
    list-style: none;
    line-height: 30px;
    margin: 0;
    color: #777;
}

.contact-form h3 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color: #767A83;
    margin-bottom: 15px;
}

.contact-form button {
    background: #00B437;
    color: #fff;
    padding: 7px 40px;
    font-size: 16px;
    margin-top: 10px;
}

.contact-form {
    margin-bottom: 100px;
}

.address {
    background-color: #0083BB;
    padding: 30px 0;
}

.address h4 {
    color: #fff;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 5px;
}

.address span {
    color: #fff;
    width: 100%;
    display: inline-block;
}

.contact-form ul li input {
    width: 12px;
    height: 17px;
    position: relative;
    top: 4px;
    margin: 10px 10px 0px 0px;
}

.contact-form.shipping-detail .form-group {
    margin-bottom: -10px;
}

/***** contact page*****/

.input-group.control-group.after-add-more li {
    list-style: none;
    width: 100%;
    float: left;
}

/*** new-address**/

.my-address {
    .error-message {
        color: red;
    }
    input.form-control.address-input {
        border: 1px solid #000;
    }
    .recipientsbook .delete-edit .col-md-6.left-btn {
        position: relative;
        left: -10px;
    }
    .delete-edit .col-md-6.left-btn {
        position: relative;
        left: -5px;
    }
    .address-right {
        height: 300px;
        //overflow-x: scroll;
    }
    .recipientsbook .delete-edit {
        left: 0;
    }
    .scrollbar {
        margin: -14px 0 0 16px;
      
    }
    .form-group input {
        font-size: 13px;
        padding-top: 0;
        height: 36px;
    }
    .address-dropdown{margin-bottom:30px;}
    .btn.btn-default:hover {
        color: #fff;
    }
    .Select-control.Select-control {
        box-shadow: none;
        border: none;
     
        width: 160px;
        margin: 0 0 0 14px;
    }
    .address-right {
        margin: 0 0 0 70px;
    }
    .new {
        position: relative;
        left: 80px;
    }
    h1 {
        color: #222;
        font-size: 18px;
        font-weight: 600;
        margin: 25px 0;
    }
    .form-field.text-field {
     
        height: 38px;
    }
    .contact-form button:hover {
        color: #fff;
    }
    .left-btn button:hover {
        background: #222;
    }
    .right-btn button:hover {
        background: #222;
    }
    input {
        background: #EDEEEE;
        color: #333 !important;
        border: none;
        border-radius: 0;
        height: 38px;
        margin-bottom: 15px;
        width: 100%;
        border-bottom: 1px solid #D8DADB;
        border-radius: 25px;
        background: none;
        border: 1px solid #777;
    }
    .new-address {
        margin: 0 !important;
        margin-bottom: 25px !important;
    }
    label {
        color: #606060;
        font-size: 13px;
    }
    .Select.ddl {
        margin-bottom: 15px;
        border: 1px solid #000;
        border-radius: 50px;
    }
    
    
    .Select-placeholder {
        background: none;
             
    }
    .save-address button:hover {
        color: #2c2c2c
    }

    .save-address {
        float: right;
        color: #fff;
        font-weight: 300;
        background: #2C2C2B !important;
        font-size: 12px !important;
        border-radius: 20px;padding: 8px 36px;
    }
    .my-address span {
        font-size: 12px;
    }
    .left-btn button {
        background: #222;
        padding: 7px 56px 6px 21px;
        font-size: 12px;
        border-radius: 25px;
        position: relative;
        left: -20px;
        margin-top: 10px;
        margin-top: 45px;
    }
    .col-md-5 {
        border: 1px solid #ccc;
        padding: 12px 15px;
        border-radius: 10px;
        float: right;
    }
    .col-md-6.text-left {
        margin-bottom: 0;
        margin-top: 26px
    }
    h1 {
        font-size: 20px;
        color: #606060;
        border-bottom: 2px solid #eee;
        padding-bottom: 15px;
    }
    form#myaddresses-Info {
        margin-top: 60px;
    }
    .right-btn button {
        background: #222;
        padding: 7px 14px;
        font-size: 12px;
        border-radius: 25px;
        margin-top: 45px;
    }
    .new-address {
        margin: 0 0 26px 0;
    }
    strong {
        font-size: 12px;
        font-weight: bold;
    }
    // h1 {
    //     color: #222;
    //     font-size: 18px;
    //     font-weight: 600;
    // }
    #recipients-Info {
        margin-top: 60px;
    }
  
    .delete-edit {
        position: relative;
        left: 50%;
        margin-top: -85px;
    }

}

/** end**/

/****get a quote**/

.get-a-quote {
    th {
        color: #7A7A7A;
        font-size: 15px;
    }
    #myULFrom .checkbox.bar {
        margin-left: 0;
    }
    .get-a-quote .checkbox.bar {
        margin-left: 0;
    }
    .select-form ul {
        padding: 0;
    }
//   .select-form .checkbox input {
//         float: left;width: 15px;
//         margin: 5px 5px 0 0px;
//     }


.address-right {
    height: 300px;
    
}

    .select-form .checkbox span
    {
        color: #000;
        text-decoration: none;
    }
    .checkbox.bar input {
        float: left;
        width: 18px;
    }
    .select-form .checkbox li {
        list-style: none;
    }
    #myInput {
        border: none;
        border-bottom: 1px solid #D8DADB;
        width: 100%;
        margin-top: 10px;
    }

    .select-form .checkbox span{margin:0 0 0 20px;}
    .select-form input#recipient_froms0{  float: left;
        width: 14px;
        margin: 4px 5px 0 0px;}
    .select-form .checkbox strong{width:94%;}
    .select-form .Select-control {
        border: none;
        border-bottom: 1px solid #D8DADB;
        border-radius: 0;
    }

    .container input:checked~.checkmark {
        background-color: #2196F3;
    }
    .select-form.shipment-content button {
        position: relative;
        top: 35px;
    }
    .shipment-content em {
        position: relative;
        top: 7px;
    }
    .shipment-content input {
        margin-bottom: 10px;
        border: 1px solid #D3D3D3;
        padding: 4px 15px;
        font-size: 13px;
        border-radius: 3px;
    }
    td {
        font-size: 13px;
    }
    td:last-child {
        color: #02C3A0;
    }
    th:last-child {
        color: #02C3A0;
    }
    .personal-info {
        text-align: center;
        color: #fff;
        padding: 18px 0 50px 0;
    }
    .select-form.shipment-content {
        padding-top: 20px;
    }
    button.btnCustomSubmit.services {
        position: relative;
        top: -15px;
    }
    h3 {
        font-size: 18px;
        margin-top: 4px;
        font-weight: 600;
    }
    .personal-info a {
        color: #fff;
        text-decoration: underline;
    }
    .personal-info span {
        width: 100%;
        display: inline-block;
        font-size: 12px;
        margin-bottom: 12px;
        margin-top: -10px;
    }
    .col-md-3 {
        padding: 0;
    }
    .personal-info lable {
        color: #fff;
        font-size: 13px;
        font-weight: 600;
    }
    .all-shipment-inner {
        margin-bottom: 50px;
        // text-align: left;
        // margin: 0 auto;
        // background: #fff;
        // margin: -30px 0 0 8%;
        // padding: 25px 45px;
        // margin-bottom: 50px;
        // box-shadow: 0px 3px 6px #888;
    }
    .all-shipment-inner a {
        font-size: 11px;
        padding: 0 0 0 20px;
        color: #777;
        text-decoration: none;
    }
    .profile-content h2 {
        text-align: center;
    }
    h2 {
        color: #979797;
        font-size: 24px;
        margin: 0;
    }
    .select-form {
        border: 2px solid #D3D3D3;
        border-radius: 2px;
        padding: 50px 20px 35px 20px;
        margin-top: 15px;
    }
    .get-rates button {
        background-color: #02C3A0;
        color: #fff;
        padding: 7px 38px;
    }
    .checkbox {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .checkbox strong {
        width: 100%;
        display: inline-block;
        color: #646464;
        font-size: 13px;
    }
    .checkbox span {
        width: 100%;
        display: inline-block;
        font-size: 12px;
    }
    .btnCustomSubmit {
        background-color: #02C3A0;
        color: #fff;
        padding: 7px 40px;
        border: none;
        border-radius: 4px;
    }
    em {
        font-size: 34px;
        color:#02C3A0;
        height: 0;
        display: inline-block;
        margin-top: -55px;
    }
    button.btn.btn-success.add-more {
        background: none !important;
    }
    button {
        background-color: #02C3A0 !important;
        color: #fff;
        padding: 7px 40px;
        border: none;
        border-radius: 4px
    }
    .select-form button {
        position: relative;
        top: 306px;
    }
    .table {
        margin-bottom: 35px;
    }
    .shipment-content table {
        margin-top: 30px;
        border: 1px solid #ccc;
    }
    .select-form.shipment-content button {
        top: 0;
        margin-right: 26px;
    }
    .summary .col-md-3 {
        padding-left: 15px;
    }
    .checkbox.content {
        padding: 0 0 0 8px;
    }
    .select-form.carrer-office {
        padding-top: 40px;
    }
    .carrer-office input {
        padding: 3px 10px;
        border: 1px solid #D3D3D3;
        margin-bottom: 10px;
        color: #000;
        border-radius: 3px;
        font-size: 12px;
    }
    .DayPickerInput {
        display: block !important;
    }
    .DayPickerInput input {
        width: 100% !important;
    }
    .daytimepicker {
        width: 100% !important;
    }
    .carrer-office button {
        top: 90px;
    }
    .summary button {
        margin-right: 15px;
        top: 250px;
    }
    .shipment-summary span {
        text-align: left;
        color: #7a7a7a;
        font-size: 13px;
        float: left;
        margin-bottom: 10px;
    }
    .shipment-summary strong {
        text-align: left;
        float: left;
        color: #7a7a7a;
        font-size: 13px;
        margin-bottom: 10px;
    }
    .shipment-summary {
        border: 1px solid #d3d3d3;
        display: inline-block;
        border-radius: 5px;
        padding: 35px 16px;
    }
    .summary h2 {
        margin-top: 50px;
    }
    .summary-total {
        border-top: 1px solid #d3d3d3;
        display: inline-block;
        width: 100%;
        padding-top: 12px;
    }
    .summary-total span {
        font-size: 16px !important;
    }
    .summary-total strong {
        font-size: 16px !important;
    }
    .payment-method {
        background: #00C3A0;
        padding: 40px 20px;
        margin-top: 20px;
        border-radius: 5px;
    }
    .payment-method h3 {
        margin: 0;
        color: #C7F0E7;
        font-weight: normal;
        font-size: 22px;
        margin-bottom: 20px;
        padding: 0 0 0 15px;
    }
    .payment span {
        float: right;
        width: 96%;
        font-size: 13px;
        margin: -16px -8px 20px 15px;
        color: #C7F0E7;
    }
    .payment {
        position: relative;
    }
    .payment:after {
        position: absolute;
        content: "";
        height: 190px;
        width: 1px;
        background: #C7F0E7;
        left: 100%;
        top: 0;
    }
    .payment-method a {
        color: #C7F0E7;
        font-size: 13px;
        text-decoration: underline;
        margin-left: 0;
        width: 100%;
        display: inline-block;
        margin-top: 15px;
    }
    .payment-method-second input {
        border: none;
        border-radius: 3px;
        background-color: #3FD2B7;
        height: 28px;
        width: 100%;
        margin-bottom: 20px;
        padding: 0px 5px;
    }
    .payment-method-second lable {
        color: #C7F0E7 !important;
        font-size: 13px;
        font-size: 12px;
    }
    .col-md-4.payment-method-second {
        padding-left: 0;
    }
    .payment-method-inner {
        margin-top: 20px;
        display: inline-block;
    }
    .payment-method-inner {
        width: 100%;
        float: left;
        margin-top: 0;
    }
    .payment-method-inner .col-md-3 input {
        width: 105%;
        float: left;
        margin-top: 0px;
        margin-left: -5px;
    }
    .new-card {
        color: #C7F0E7;
        font-size: 14px;
        display: inline-block;
        margin: 0 0 0 15px;
    }
    .new-card input {
        float: left;
    }
    .payment-method-second button {
        border: 2px solid #C7F0E7;
        margin: 0;
    }
    .payment img {
        position: absolute;
        left: 30%;
        top: 15px;
    }
    .thank-you.inner-section {
        border: 2px solid #D3D3D3;
        margin-top: 50px;
        border-radius: 5px;
        text-align: center;
        padding-bottom: 40px;
    }
    .thank-you {
        margin-bottom: 50px;
    }
    .glyphicon-plus-sign:before {
        color: #02C3A0 !important;
    }
    #myUL,#myULFrom {
        height: 300px;
        border: 1px solid #ccc;
        padding: 0 25px 0 0;
    }
    
    .shipment-ddls .Select-menu-outer {
        margin-top:30px;width:93%;margin-left:5px;
        
    }
    .quantity-ddls .Select-menu-outer {
        margin-top:-8px;width:86%;margin-left:8px;
        
    }
}

/***end***/

.bottom {
    margin-bottom: 60px;
}

.pointer-hover {
    cursor: pointer;
}

.from-to button.btnCustomSubmit {
    top: 0;
    margin-top: 20px;
}

#payment-Info ::-webkit-input-placeholder {
    color: #fff;
}

#payment-Info ::-moz-placeholder {
    color: #fff;
}

#payment-Info :-ms-input-placeholder {
    color: #fff;
}

#payment-Info :-moz-placeholder {
    color: #fff;
}

.login-form {
    .sign-in {
        position: relative;
        left: 30%;
        margin: 50px 0;
    }
    .form-bg {
        background: rgb(226, 233, 232);
        background-image: url('/images/login_blur.png');
        background-size: cover;
        background-position: 0 -31px;        
    }
    label.control-label {
        font-size: 12px;
        font-weight: normal;
        color: #747981;
        margin-bottom: 18px;
    }
    .form-group input {
        font-size: 12px;
        border: none;
        width: 97%;
        border-bottom: 1px solid #ccc;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        margin: 0 0 20px 10px;
    }
    button#login {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        background: #464646;
        border: none;
        margin-top: 10px;
    }
    .remember-me input[type="checkbox"] {
        float: left;
        width: 4%;
        margin: 0 7px 22px 0px;
    }
    .confirm-password {
        width: 63%;
        margin-left: -15px;
    }
    .remember-me span {
        font-size: 12px;
        color: #747981;
        position: relative;
        top: -5px;
    }
    .form-group .col-md-6 {
        padding: 0;
    }
    .recover-password {
        display: inline-block;
        margin-top: 20px;
    }
    .reigster {
        display: inline-block;
        margin-top: 20px;
    }
    .recover-password a {
        color: #747981;
    }
    .remember-me span {
        font-size: 12px;
        position: relative;
        top: -5px;
    }
    .reigster a {
        color: #747981;
        font-size: 13px;
        font-weight: 600;
    }
    fieldset {
        width: 42%;
        padding: 18px 18px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 2px 1px #ccc;
        background: #fff;
    }
}

/****new footer***/

footer {
    background: none;
}

.container-outer {
    padding: 0 30px;
}

footer h4 {
    margin-top: 10px;
    color: #8B8E8E;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}

.copyright {
    background: #444;
    padding: 10px 0;
}

.copyright img {
    float: left;
}

.copyright p {
    float: left;
    margin: 5px 0px 0 10px;
    color: #fff;
}

hr {
    width: 1170px !important;
    border-top: 2px solid #eee;
}

/*** end footer***/

.inner-header {
    header {
        background-image: url(/images/inner_header.png);
        padding-top: 25px;
        min-height: 170px;
        background-size: cover;
    }
    .navbar-nav>li>a {
        color: #fff;
    }
    .nav-item.profile-img img {
        border-radius: 50px;
        height: 55px;
        margin-top: -12px;
    }
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        position: absolute;
        right: 22px;
        top: -5px;
        border-bottom: 5px solid #fff;
    }
    .profile-img ul {
        background: #fff;
        width: 16%;
        position: absolute;
        right: 0;
        top: 52px;
        text-align: left;
        padding: 10px 15px;
    }
    .profile-img ul li a {
        color: #444;
        font-size: 13px;
        text-decoration: none;
    }
    .profile-img ul {
        display: none
    }
    .profile-img:hover ul {
        display: block;
    }

    ul.navbar-nav ul li {
        padding-bottom: 5px;
    }

}
/***end***/
.new-homepage {
    .nav-item.profile-img img {
        border-radius: 50px;
        height: 55px;
        margin-top: -12px;
    }
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        position: absolute;
        right: 22px;
        top: -5px;
        border-bottom: 5px solid #fff;
    }
    .profile-img ul {
        background: #fff;
        width: 16%;
        position: absolute;
        right: 0;
        top: 52px;
        text-align: left;
        padding: 10px 15px;
    }
    .profile-img ul li a {
        color: #444;
        font-size: 13px;
        text-decoration: none;
    }
    .profile-img ul {
        display: none
    }
    .profile-img:hover ul {
        display: block;
    }

    .profile-img{
       margin-left:40px !important;
    }

    
    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        width: 100%;
    }
    .jk-slider {
        width: 100%;
        position: relative;
        top: -100px;
    }
    a.nav-link.log-in {
        margin: 0 0 0 100px;
    }
    .nav-link.air_shipping-new-homepage {
        color: #fff;
    }
    .navbar-nav>li>a {
        color: #fff;
    }
    .navigation-top {
        position: relative;
        z-index: 999;
        display: inline-block;
        width: 100%;
        padding-top: 25px;
    }
    .navbar-nav>li>a {
        padding: 0 0 0 50px;
    }
    /*          Hero Headers        */
    /********************************/
    .hero {
        position: absolute;
        top: 37%;
        left: 37%;
        z-index: 3;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        -o-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
    .how-it-works {
        padding-top: 0;
    }
    .slider-btn:hover {
        color: #fff;
    }
    .slider-btn {
        background: #444;
        color: #fff;
        font-size: 13px;
        padding: 9px 90px;
        text-transform: CAPITALIZE;
        border-radius: 5px;
        position: relative;
        left: -22%;
        top: 20px;text-decoration: none;
    }
    .hero h3 {
        color: #444;
        text-shadow: none;
        font-weight: normal;
        font-size: 40px;
        width: 70%;
        text-align: left;
        line-height: 48px;
        text-transform: capitalize;
        margin-bottom: 16px
    }
    .hero p {
        text-align: left;
        color: #444;
        text-shadow: none;
        color: #444;    text-transform: capitalize;
        /* font-weight: 600; */
        font-size: 17px;
    }
    .hero h1 {
        font-size: 6em;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    .fade-carousel .carousel-inner .item .hero {
        opacity: 0;
        -webkit-transition: 2s all ease-in-out .1s;
        -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
        -o-transition: 2s all ease-in-out .1s;
        transition: 2s all ease-in-out .1s;
    }
    .fade-carousel .carousel-inner .item.active .hero {
        opacity: 1;
        -webkit-transition: 2s all ease-in-out .1s;
        -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
        -o-transition: 2s all ease-in-out .1s;
        transition: 2s all ease-in-out .1s;
    }
}


/****track form***/
.track-form{
    form {
        background-image: url(/images/inner_header.png);
        background-size: cover;
        margin-top: -200px;
        padding-bottom: 15px;
       
    }
    h2{    text-align: center;
        color: #fff;
        font-weight: 700}
      h5 {
            font-size: 15px;
            color: #fff;
            font-weight: 800;
        }
      form p {
            color: #fff;
        }
        button.btn.btn-primary {
            background: #464646;
            border: #464646;
            font-size: 16px;
            padding: 8px 20px;
            margin-top: -30px;
        }
        input.form-control {
            background: transparent;
            border: none;
            border-bottom: 2px solid #89EEDF;
            box-shadow: none;
          font-size:18px;
            margin-top: -35px;padding:0;
            width: 80%;
            margin: -35px 0 0 50px;
            color: #fff;
        }
        ::-webkit-input-placeholder {
            color: #89EEDF;
            }
            ::-moz-placeholder { 
            color: #89EEDF;
            }
            :-ms-input-placeholder {
            color: #89EEDF;
            }
            :-moz-placeholder { 
            color: #89EEDF;
            }

}

.contact-form.baredex {
    margin-left: 0;
}

/**** contact form***/
.contact-form{
    .address{background-color:inherit;}
    .address h4{color:#464646;font-size: 17px;}
    .address span {color: #464646;line-height:22px;}
    .header-logo span{
        width: 100%;
        text-align: center;
        display: inline-block;
        color: #89EEDF;
        font-size: 34px;
        font-weight: normal;margin-bottom:10px;
    }
 
   .contact-form{margin-left:0 !important;}
    .inner-header header {min-height: 365px;}
    .contact-form-inner {
        margin-top: -200px;
    }
    #contactus-Info span {
        font-size: 12px;
        color: #777;
        position: relative;
        top: -23px;
    }
    h3{color: #464646;}
    .last-name {
        height: 36px !important;
    }
   button {
        background: #464646;
      
        padding: 4px 32px;
        font-size: 13px;
        margin-top: 10px;
        border-radius: 50px;
    }
    button:hover{ background: #464646;color:#fff;}
    button:focus{ border:none;}
    button:active{ background: #464646;color:#fff;}
  input {
      padding-bottom:0;height:30px;
        background: #fff;
        box-shadow: none;
    }
    input:focus{box-shadow: none;border-color: #ccc;}
  .address {
        background-color: inherit;
        background: #fff;
       
        margin: 0 auto;
        padding: 10px 40px;
        box-shadow: 0px 2px 2px 0px #ccc;
    }
    .header-logo{text-align:center;margin-bottom:15px;}
    .header-logo img {
        margin-bottom: 10px;
    }
    h1{color:#464646;font-weight:normal;}
    #contactus-Info ul li {
        line-height: 0;
        color: #222;
        font-size: 14px;
    }
}

/*****end***/

@media screen and (max-width:767px) {
    .contact-form.shipping-detail .form-group {
        margin-bottom: auto;
    }
    .contact-form.shipping-detail select {
        width: 90%;
    }
    .mobile-navigation {
        display: block;
        width: 70%;
        float: right;
    }
    nav.navbar.navbar-expand-sm.bg-light {
        display: none;
    }
    html,
    body {
        overflow-x: hidden;
    }
    .dropdown-menu {
        width: 100%;
    }
    .container-inner h5 {
        font-size: 16px;
    }
    footer select.selectpicker {
        padding: 5px 8px;
        width: 78%;
    }
    .container-inner {
        width: 100%;
    }
    .get-rates input {
        width: 100% !important;
        margin-bottom: 15px !important;
    }
    .shipment {
        width: 100%;
        margin-bottom: 14px;
    }
    .get-rates span {
        display: none;
    }
    .quantity {
        margin-bottom: 15px;
        width: 100%;
    }
    .get-rates img {
        margin: 0;
    }
    .logo-slide img {
        width: 20%;
        float: left;
    }
    .logo-slide {
        padding-bottom: 50px;
        padding-top: 0;
    }
    .get-rates {
        margin: 5px 0 45px 0;
    }
    .customer-list span {
        text-align: center;
        width: 100%;
    }
    .customer-list h2 {
        width: 100%;
        text-align: center;
    }
    .service {
        left: 0;
        margin: 20px 0;
    }
    .shipment-listing {
        left: 0;
    }
    .customer-list {
        padding: 40px 0;
    }
    footer select.selectpicker {
        width: 85%;
    }
    footer .col-md-6.col-xs-8.text-right {
        float: right;
    }
    .sign-up {
        width: 60%;
    }
    header .col-xs-6 {
        float: right;
        margin-bottom: 14px;
        margin-top: 9px;
    }
    .stepwizard-step.money img {
        margin-top: 20px;
    }
    .stepwizard-step.money h5 {
        margin-top: 150px;
    }
    .stepwizard-step {
        display: inline;
    }
    .stepwizard-row:before {
        display: none;
    }
    .stepwizard-step p {
        width: 70%;
        margin: 0 auto;
    }
    .stepwizard-step.dimension {
        left: 0;
    }
    .stepwizard-step.prices img {
        margin-top: 18px;
    }
    .stepwizard-step.money {
        right: 0;
    }
    .s tepwizard-step.dimension {
        left: 0;
    }
    .stepwizard-step.prices h5 {
        margin-top: 33%;
    }
    .address {
        padding: 30px 0 0 15px;
    }
    .contact-form.shipping-detail input {
        width: 90% !important;
    }
    /*****air shipping****/
    .airshipping-header .mobile-navigation {
        margin-top: -30px;
    }
    .reg-form {
        float: right;
        width: 75%;
        padding: 0;
        margin: 11px 0;
    }
    /**** end air shipping**/
    /***tracking*****/
    .desktop-track {
        display: none;
    }
    .track-mobile {
        float: right;
        width: 100%;
        margin: 15px 0 0 0;
    }
    .postal-service img {
        width: 200px;
        margin-bottom: 20px;
    }
    .shipping-right {
        padding: 30px 30px;
        height: auto;
    }
    .postal-service {
        text-align: center;
        margin-bottom: 0;
        padding: 0 10px;
    }
    .airshipping-header.track {
        padding: 30px 30px;
    }
    .postal-service span {
        left: 0
    }
    .airshipping-header.track h2 {
        text-align: left;
        margin-bottom: 0;
    }
    /** end tracking**/
    /****thank you**/
    .email-section {
        text-align: center;
    }
    /****** end thank you**/
    /***** about ***/
    .about {
        margin: 0 40px;
    }
    .card-body {
        border: none;
        height: auto;
    }
    .avatar {
        margin-left: 55%;
    }
    .card-body p {
        margin-left: 40px;
        margin-right: 40px;
    }

    .avatar img {
        margin-bottom: 15px;
        margin-left: -65%;
    }
    /*** end****/
    /*******add credit****/
    .easy-checkout.credit .col-md-4.text-right {
        margin: 20px 0 0 20px;
        text-align: left;
    }
    .easy-checkout {
        margin-bottom: 60px;
    }
    .follow-us {
        left: 0;
    }
    /***** end******/
}

h1,
h2,
h3,
h4,
div,
span,
a,
p,
body {
    font-family: 'Montserrat', sans-serif;
}